main {
  max-width: 1200px;
  margin: 0 auto;
}

.hero{
  display: grid;
  grid-template-columns: minmax(300px, 2fr) 3fr;
  align-items: center;
}
.image-hero{
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-height: 500px;
}
.dishes {
  margin: 100px 0;
}
.dishes-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5px,200px));
  grid-auto-rows: 1fr;
  gap: 20px;
  justify-content: center;
}

.dishes-item{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dishes-item_big{
  grid-area: 1/1/3/3;
}
.dishes-title {
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  font-size: 2rem;
}

.info-title {
  color: #333;
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 24px;
}
.info-subtitle {
color: #333;
font-size: 1rem;
margin-bottom: 24px;
}
.info-button {
border: none;
border-radius: 20px;
color: #333;
background-color: #fb8c00;
font-weight: bolder;
padding: 12px 24px;
}

.menu {
margin-bottom: 200px;
}
.menu-title {
font-size: 2rem;
color: #333;
font-weight: bolder;
text-align: center;
margin-bottom: 50px;
}
.menu-grid{
display: grid;
grid-template-columns: repeat(auto-fit,150px);
justify-content: center;
gap: 20px;
}
.menu-grid-item{
background-color: rgb(222, 222, 222);
padding: 15px;
border-top-left-radius: 40px;
}
.menu-grid-item img{
width: 100%;
height: 100%;
object-fit: contain;
}
